/* portal.css */
body * {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
.h1 {
  text-align: center;
    color: white; 
    margin-top: 150px;
 /*  font-family: 'Cursive'; */
}
.img {
width: 100%;
   height: 100%;
}
.wifi_logo {
width: 50px;
   height: 50px;
}
.button{
    color: #ffffff;
    background-color: #43a047;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 30%;
}


.content {
    width: 100%;
  
    background-color: blue;
    padding: 20px;
    margin: 15px auto 0;
    border-radius: 15px;
    color: #000000; /* Change for better contrast */
}

.title {
    text-align: center;
    margin-bottom: 15px;
}
#key1 {
    width: 100%; 
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
     cursor: pointer;
}
#password {
    width: 100%; 
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
     cursor: pointer;
     
}

#password:hover,
#password:focus {
    box-shadow: 0 0 10px #69f0ae;
}
